body{
    background-color: #FFFFFF;
}

.main-raised {
    margin: 0!important;
    border-radius: 0!important;
    box-shadow: none!important;
}
.espacio {
        margin-top: 80px!important;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {

    display: block;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.breadcrumb {
    display: inline-flex!important;
    background-color: transparent!important;
}

.breadcrumb-item.active{
    color: #000000!important;
}

.tab-pane.active.show{
    color: #000000!important;
}